<%- include ("partials/header") %>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <img src="/images/fakenews1.jpg", alt="fakenews1", class="fakenewsimg">  
                <div>
                    <span class="heading">What's Fake News</span>
                    
                    <span class="content">Fake news is a form of news consisting of deliberate disinformation or hoaxes spread via traditional news media or online social media.</span> 

                    <span class="content">Fake news is written and published usually with the intent to mislead or control information or to shape domestic political attitude.</span>

                    <span class="content">Fake news often makes use of sensational, dishonest, or outright fabricated headlines to increase readership.</span> 
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <img src="/images/fakenews2.jpg",
                alt="fakenews2" class="fakenewsimg">
                <div>
                    <span class="heading">How is Fake News spread</span>
                    
                    <span class="content">Fake news is spread through social media to reach receptive audiences.</span>

                    <span class="content">Twitter and Facebook are the most prominent platforms for social media manipulation.The use of ‘bots’ amplify manipulated contents.</span>

                    <span class="content">Cookies are used to track people's visit to websites and thus create personality profiles, and show people fake news content that they are most receptive to.</span>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <img src="/images/fakenews3.jpg",
                alt="fakenews3" class="fakenewsimg">
                <div>
                    <span class="heading">How to cope with it</span>

                    <span class="content">Embed media literacy into school curriculum.</span>

                    <span class="content">Read the entire piece before you decide whether or not to share.</span>

                    <span class="content">Don't stay in your own echo chamber.</span>

                    <span class="content">Use Factcheck tools such as Factcheck.org</span>
                </div>
            </div>
        </div>
    </div>
<%- include ("partials/footer") %>