<%- include ("partials/header") %>
    <div class="container">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-2 col-lg-2">
            </div>
            <div class="col-md-8 col-lg-8">
                <span class="heading1">Fake News Map</span>
            </div>
            <div class="col-md-2 col-lg-2">
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-2 col-lg-2">
            </div>
            <div class="col-md-8 col-lg-8">
                <span class="news_description">This fake news map tries to show the extent of fake news spreading in different countries.</span>
                <span class="news_description">The color represents the spreading extent of the fake news.</span>
                <span class="news_description">Countries with darker color means they spread more fake news abroad and domestic more often.</span>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-2 col-lg-2">
            </div>
            <div class="col-md-8 col-lg-8">
                <img src="/images/map.png" alt="map" style="width: 750px;">
            </div>
            <div class="col-md-2 col-lg-2">
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-2 col-lg-2">
            </div>
            <div class="col-md-8 col-lg-8">
                <span class="news_description">Below is the list of top 10 countries where fake news is spread more:</span>
                <table class="countrytable">
                    <tr>
                        <th>Rank</th>
                        <th>Country</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>C</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>D</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>E</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>F</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>G</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>H</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>I</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>J</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-2 col-lg-2">
            </div>
        </div>
    </div>
<%- include ("partials/footer") %>