<%- include ("partials/header") %>
    <div class="container">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-3 col-lg-2">
            </div>
            <div class="col-md-6 col-lg-8">
                <span class="heading1">Fake News Numbers</span>
            </div>
            <div class="col-md-3 col-lg-2">
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-3 col-lg-2">
            </div>
            <div class="col-md-6 col-lg-8">
                <div class="heading" style="text-align: center;">Sub-Categories of the Spreading of Fake News</div>
                <img src="/images/categories.png", alt="categories", class="categories">
            </div>
            <div class="col-md-3 col-lg-2">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4" style="width: 310px; margin-left: 100px; margin-bottom: 10px;">
                <img src="/images/countries.png", alt="countries" class="numbers">
            </div>
            <div class="col-md-4 col-lg-4" style="width: 310px; margin-bottom: 10px;">
                <img src="/images/spread_techniques.png", alt="spread techniques" class="numbers">
            </div>
            <div class="col-md-4 col-lg-4" style="width: 310px; margin-bottom: 10px;">
                <img src="/images/fake_news.png", alt="whyfakenews" class="numbers">
            </div>
        </div>
    </div>
<%- include ("partials/footer") %>